
body 
{
background-color: #EAD7BB;"
}

hr
{
background-color: #EAD7BB;
border-style: none;
border-top-style: dotted;
border-width: 7px;
border-color: #939596;
height: 0;
width: 7%;
}

h1
{
color: #03738f;
}

h3
{
color: #03738f;
}